*{
  margin: 0px;
  padding: 0px;
}
.vega:hover{
	background: #33FF90;
}
#back{
  background: #F4EFEF;
  padding: 0.5em;
  font-size: 15px;
  font-family: Alex Brush;
  letter-spacing: 0.25em;
  word-spacing: 0.25em;
  text-shadow: 1px 1px 6px #D78BF3;
}
.col:hover{
  background: #80E59D;
  font-size: 20px;
}
span.red {
  background: #637BE4;
   border-radius: 2em;
  -moz-border-radius:2em;
  -webkit-border-radius: 2em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 4em;
  margin-right: 20px;
  text-align: center;
  width: 4em; 
}
h1{
   font-family:Sophia;
}
h3{
   font-family: Alex Brush;
   color: #050404;
}
form{
  display: block;
  margin-top: 0em;
}
.entry-form{
  background: #5D5454;
  border-radius: 100%;
  padding: 6em;
  width: 460px;
  height: 450px;
}
.entry-form .submit-btn {
    background: #ffffff;
    border-radius: 50px;
    border: 0;
    color: #252020;
    width: 50%;
    height: 50px;
    margin: 30px auto;
    margin-bottom: 10px;
}
.entry-form .form-control{
    background: transparent;
    border: 0;
    border-bottom: 1px solid #0D0B0B;
    height: 45px;
    margin: 10px 0px;
}
.veg{
  color: #F7F2F2;
}
#form-submit{
  margin: 30px auto;
  background: #E6DADA;
  color: #803838;
}
#form-submit:hover{
  background: #8B9EE3;
}
.button2{
  width: 100px;
  height: 20px;
  border-radius: 3em;
}
input:hover{
  background: #D0B0B0;
  color: #151414;
}
.font h1{
  font-family: Sophia;
  font-size: 2.5em;
}
.font h3{
  font-family: Arizonia;
  font-size: 24px;
}
.font p{
  font-size: 16px;
}
p{
  font-family: Alex Brush;
}
h4{
  font-family: Alex Brush;
  font-size: 4em;
  padding: 0.5em;
  text-align: center;
  letter-spacing: 0.25em;
  word-spacing: 0.25em;
  color: #5E5656;
   text-shadow: 0px 0px 6px #EC5757;
}
.icono{
  color: #81F48F;
  font-size: 50px;
  perspective: none;
  padding: 25px 0px;
}
h5{
  font-family: Alex Brush;
  font-size: 2em;
  text-align: center;
  color: #A58585;
}
.p{
  font-size: 1.5em;
  text-align: center;
  color: #070808;
}
.imag{
  border-radius: 1em;
}
figcaption img{
  padding: 0.5em 0.5em;
  cursor: pointer;
}
figcaption img:hover{
   background: #57E984;
   border-radius: 100%;
}
.content-all{
    width: 210px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
}

.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}
.content-carrousel figure{
    width: 100%;
    height: 115px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
    
}
.content-carrousel figure figcaption{
    width: 150%;
    height: 120px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms; 
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}

.content-carrousel img{
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}


@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}
.color{
  background: #589DEB;
}
.tex{
  font-size: 1.5em;
}
.color .form-control {
    border: 0;
    border-radius: 5px;
    box-shadow: none;
    margin: 7px 0;
}
.color input {
    height: 50px;
}
#button3{
  padding: 1em 2.5em;
  border-radius: 2em;
}
#button3:hover{
  background: #5090D1;
}
.n1{
  padding: 6em 1em;
}
.n2{
  padding: 5em 3em;
}
.footer{
  background: #3A3434;
  padding: 7em 6em;
}
.footer h6{
  color: #FFFFFF;
  font-size: 2em;
  text-shadow: 0px 0px 6px #474040;
  text-align: center;
}
.footer p{
  color: #6D6161;
  font-size: 1em;
  font-family: Times new Roman;
  letter-spacing: 0.15em;
  word-spacing: 0.15em;
  text-align: center;
}
.footer img:hover{
   background-color: #57E984;
   border-radius: 100%;
   cursor: pointer;
}
#button4{
    background-color: transparent;
    padding:0em 3em;
    height: 34px;
    margin: 10px 10px;
    color: white;
    border-radius: 2em;
}
#button4:hover{
  background-color: #57E984;
}
.input{
    background: transparent;
    border: 0;
    border-bottom: 1px solid #0D0B0B;
    height: 35px;
    padding: 0em 4em;
}
.input1:hover{
  background:#FAFAFA;
  color:#FAFAFA; 
}
